{%extends "base.html"%}
{%block body %}
<h4>Batch Review Groups</h4>
<div class="progress" title="You have voted on {{percent}}% of the batches!">
    <div class="progress-bar" style="width: {{percent}}%;">{{percent}}%</div>
</div>
<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th colspan="2" data-column="name" class="warning">Name</th>
            <th data-column="voted">Voted</th>
            <th data-column="unread">Unread</th>
            <th data-column="proposals">Proposals</th>
            <th data-column="voters">Voters</th>
            <th data-column="msgs">Messages</th>
            <th data-column="nominated_talks">Talks Nominated</th>
            <th data-column="nominations">Total Nominations</th>
            <th data-column="consensus">Consensus</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<script type="underscore/template" id="table_row">
<tr>
    <th><%=e.id%></th>
    <td><a href="<%=e.id%>/"><%=e.name%></a></td>
    <% if(e.voted){ %>
        <td class="success"><strong>Voted</strong></td>
    <% }else{ %>
        <td class="danger"><strong>Not Voted</strong></td>
    <% } %>
    <td>
        <% if(e.unread){ %>
            <span class="glyphicon glyphicon-envelope"></span>
        <% } %>
    </td>
    <td><%=e.proposals%></td>
    <td><%=e.voters%></td>
    <td><%=e.msgs%></td>
    <td><%=e.nominated_talks%></td>
    <td><%=e.nominations%></td>
    <td><%=e.consensus%></td>
</tr>
</script>
{%endblock%}

{%block extrajs%}
<script>
var groups = {{groups|tojson}};
$(document).ready(function(){
    table_sorter($('table'), groups, TEMPLATES.table_row, {})
});
</script>
{%endblock%}
