{% macro batch_discussion(msgs, locked=False) %}
        <div class="panel panel-default" id="batch-messages">
            <div class="panel-heading">
                <h3 class="panel-title">Messages</h3>
            </div>
            <table class="table table-striped">
                {% for m in msgs %}
                    <tr><th>{{m.display_name}}</th><th>{{m.created|date}}</th></tr>
                    <tr><td colspan="2">{{m.body}}</td></tr>
                {% endfor %}
            </table>
            {% if not locked %}
            <div class="panel-body">
                <form method="POST" action="comment/" id="add-comment">
                    <div class="form-group">
                        <label for="comment">Add Comment</label>
                        <textarea type="" class="form-control" id="comment" placeholder="Internal Comment" name="comment"></textarea>
                        <p class="help-block">Please be both kind and succinct with your comments.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            {%endif%}
        </div>


{% endmacro %}
