{%extends "base.html"%}
{%block body %}
<h4>Batch Review Groups</h4>
<table class="table table-hover table-striped table-condensed">
    <thead>
        <tr>
            <th colspan="2">Name</th>
            <th colspan="2"></th>
            <th>Proposals</th>
            <th>Voters</th>
            <th>Messages</th>
            <th>Talks Nominated</th>
            <th>Total Nominations</th>
            <th>Consensus</th>
        </tr>
    </thead>
    <tbody>
    {% for g in groups %}
    <tr>
       <th>{{g.id}}</th>
        <td>
            <a href="{{url_for("batch_view", id=g.id)}}">{{g.name}}</a>
        </td>
            {% if g.voted %}
            <td class="success"><strong>Voted</strong></td>
            {% else %}
            <td class="danger"><strong>Not Voted</strong></td>
            {% endif %}
        <td>
            {% if g.id in unread %}
            <span class="glyphicon glyphicon-envelope"></span>
            {% endif %}
        </td>
        {% with s = stats[g.id]%}
        <td>{{s.proposals}}</td>
        <td>{{s.voters}}</td>
        <td>{{s.msgs}}</td>
        <td>{{s.nominated_talks}}</td>
        <td>{{s.nominations}}</td>
        <td>{{s.consensus}}%</td>
        {% endwith %}
    </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock body%}
