{%extends "base.html"%}
{%import "proposal_render.html" as pr%}
{%import "batch/batch_render.html" as br%}

{%block body %}
<h1>Group: {{group.name}}</h1>

<div class="col-md-12" style="margin-bottom:1em;">
        <ul class="nav nav-pills nav-justified" id="proposal-tabs">
            {% for p in proposals %}
            <li>
            <a href="#proposal-{{p.proposal.id}}">{{p.proposal.title}} (#{{p.proposal.id}})
                    {% if p.proposal.count and vote %}
                    <span class="badge">{{p.proposal.count}} nominations</span>
                    {%endif%}
                </a>
            </li>
            {% endfor %}
        </ul>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="tab-content">
            {% for p in proposals %}
            <div role="tabpanel" class="tab-pane" id="proposal-{{p.proposal.id}}">
                {%if p.voters and vote%}
                <h4>Nominated by {{p.voters}}</h4>
                {%endif%}
                {{pr.proposal_render(p.proposal)}}
                <hr>
                <h2>Screening Discussion</h2>
                {% for msg in p.discussion%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if msg.name %}
                            {{msg.name}}
                            {% else %}
                            {{msg.display_name}}
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {{msg.body}}
                        </div>
                            {% if msg.name %}
                            <div class="panel-footer">
                            <strong> Message From Author</strong>
                            </div>
                            {% endif %}
                            {% if msg.feedback %}
                            <div class="panel-footer">
                                <strong>Message To Author</strong>
                            </div>
                            {% endif %}
                        </div>
                {% else %}
                    <p>No dicussion in Screening</p>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

    </div>

    <script type="underscore/template" id="ordered_row">
        <li class="list-group-item"><span class="glyphicon glyphicon-star"></span> <%=title%>
            <input type="hidden" name="accept" value="<%=id%>"></li>
    </script>

    <div class="col-md-4" id="batch-right-column">

            {% if group.progcom_members %}
            <div class="panel panel-warning">
                <div class="panel-body">
                    <p>The following committee members have proposals in this group;
                    please exercise discretion when discussing these proposals
                    on slack or email.</p>
                    <ul class="list-inline">{% for m in group.progcom_members%}<li>{{m}}</li>{%endfor%}</ul>
                </div>
            </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Talks</h3>
                </div>
                <form action="vote/" method="POST" id="vote">
                <div class="panel-body">
                    <h4>Selected Proposals</h4>
                    <ul class="list-group" id="accept">
                        {% for v in vote.accept%}
                        {% if v in proposal_map %}
                        <li class="list-group-item batch-vote">
                        <span class="glyphicon glyphicon-star"></span> 
                            {{proposal_map[v].title}}
                            <input type="hidden" name="accept" value="{{v}}">
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="notalks" class="alert alert-warning" {% if vote.accept %}style="display: none;"{% endif %}>No talks selected.</div>
                    <h4>Remaining Proposals</h4>
                    <ul class="list-group" id="unranked">
                        {% for p in proposals%}
                        <li data-id="{{p.proposal.id}}"
                            class="list-group-item batch-vote"
                            id="unranked-prop-{{p.proposal.id}}"
                            {%if vote and p.proposal.id in vote.accept%}
                            style="display:none;"
                            {%endif%}
                            >
                            {{p.proposal.title}}
                        </li>
                            {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-block" id="save">Save Choices</button>
                    <span class="help-block">Choose a talk from this group for PyCon. If none seem good enough, you may choose none;
                        if you think there are two excellent, non-overlapping options, you may choose two.</span>
                </div>
                </form>
            </div>
            {% if vote %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Votes</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                        {% for v in all_votes %}
                        <tr>
                            <th>{{v.display_name}}</th>
                            <td>
                                {% for id in v.accept %}
                                <ul class="list-inline">
                                {% if id in proposal_map %}
                                <li>{{proposal_map[id].title}}</li>
                                {% endif %}
                                </ul>
                                {% else %}
                                Don't advance any proposals.
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% endif %}
    
    {{br.batch_discussion(msgs)}}

    </div><!--end side column-->
</div>

<script>
var TALKS = {{basics|tojson}};
var VOTE = {{vote|tojson}};
</script>

{%endblock body%}
