{%extends "base.html"%}
{%import "proposal_render.html" as pr%}
{%import "batch/batch_render.html" as br%}

{%block body %}
<h1>Group: {{group.name}}</h1>
{% if group.locked %}
<h4>This Group is Locked <span class="glyphicon glyphicon-lock"></span></h4>
{% endif%}
<div class="col-md-12" style="margin-bottom:1em;">
        <ul class="nav nav-pills nav-justified" id="proposal-tabs" style="display:flex;flex-direction:row;flex-wrap:wrap;justify-content:flex-start;align-items:stretch;">
            {% for p in proposals %}
            <li style="width:20%;padding-bottom:0;border:1px solid #eee;">
                <a href="#proposal-{{p.proposal.id}}" style="height:100%;">{{p.proposal.data.title}} (#{{p.proposal.id}})
                    {% if p.proposal.count and (vote or request.user.email in config.OBSERVER_EMAILS) %}
                    <span class="badge">{{p.proposal.count}} nominations</span>
                    {%endif%}
                    {% if p.proposal.accepted %}
                    <span class="label label-success">Accepted</span>
                    {% endif %}
                    {% if p.proposal.accepted == False %}
                    <span class="label label-danger">Declined</span>
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="tab-content">
            {% for p in proposals %}
            <div role="tabpanel" class="tab-pane" id="proposal-{{p.proposal.id}}">
                {%if p.proposal.accepted != None %}
                    {%if p.proposal.accepted%}
                    <div class="alert alert-success">This talk has been accepted.</div>
                    {%else%}
                    <div class="alert alert-warning">This talk has been declined.</div>
                    {%endif%}
                {%endif%}
                {%if p.voters 
                    and (vote or request.user.email in config.OBSERVER_EMAILS) %}
                <h4>Nominated by {{p.voters}}</h4>
                {%endif%}
                {{pr.proposal_render(p.proposal)}}
                <hr>
                <h2>Screening Discussion</h2>
                {% for msg in p.discussion%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if msg.name %}
                            {{msg.name}}
                            {% else %}
                            {{msg.display_name}}
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {{msg.body}}
                        </div>
                            {% if msg.name %}
                            <div class="panel-footer">
                            <strong> Message From Author</strong>
                            </div>
                            {% endif %}
                            {% if msg.feedback %}
                            <div class="panel-footer">
                                <strong>Message To Author</strong>
                            </div>
                            {% endif %}
                        </div>
                {% else %}
                    <p>No dicussion in Screening</p>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

    </div>

    <script type="underscore/template" id="ordered_row">
<li class="list-group-item"><span class="glyphicon glyphicon-star"></span> <%=title%> (#<%=id%>)
            <input type="hidden" name="accept" value="<%=id%>"></li>
    </script>

    <div class="col-md-4" id="batch-right-column">

            {% if request.user.email in config.ADMIN_EMAILS%}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Accept/Decline Talks</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                    {% for p in proposals %}
                    <tr>
                        <th>{{p.proposal.data.title}}</th>
                        <td>
                            <select class="acceptance" data-id="{{p.proposal.id}}">
                                {% with accepted = p.proposal.accepted %}
                                <option {%if accepted%}selected="selected"{%endif%}>Accepted</option>
                                <option {%if not accepted and accepted == False%}selected="selected"{%endif%}>Declined</option>
                                <option {%if accepted == None%}selected="selected"{%endif%}>Undecided</option>
                                {% endwith %}
                            </select>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if group.progcom_members %}
            <div class="panel panel-warning">
                <div class="panel-body">
                    <p>The following committee members have proposals in this group;
                    please exercise discretion when discussing these proposals
                    on slack or email.</p>
                    <ul class="list-inline">{% for m in group.progcom_members%}<li>{{m}}</li>{%endfor%}</ul>
                </div>
            </div>
            {% endif %}

            {% if request.user.email in config.OBSERVER_EMAILS %}
            <h4>Voting disabled for observers.</h4>
            {% else %}
            {% if not group.locked %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Select Talks</h3>
                </div>
                <form action="vote/" method="POST" id="vote">
                <div class="panel-body">
                    <h4>Selected Proposals</h4>
                    <ul class="list-group" id="accept">
                        {% for v in vote.accept%}
                        {% if v in proposal_map %}
                        <li class="list-group-item batch-vote">
                        <span class="glyphicon glyphicon-star"></span> 
                        {{proposal_map[v].data.title}} (#{{v}})
                            <input type="hidden" name="accept" value="{{v}}">
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    <div id="notalks" class="alert alert-warning" {% if vote.accept %}style="display: none;"{% endif %}>No talks selected.</div>
                    <h4>Remaining Proposals</h4>
                    <ul class="list-group" id="unranked">
                        {% for p in proposals%}
                        <li data-id="{{p.proposal.id}}"
                            class="list-group-item batch-vote"
                            id="unranked-prop-{{p.proposal.id}}"
                            {%if vote and p.proposal.id in vote.accept%}
                            style="display:none;"
                            {%endif%}
                            >
                            {{p.proposal.data.title}} (#{{p.proposal.id}})
                        </li>
                            {% endfor %}
                    </ul>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary btn-block" id="save">Save Choices</button>
                    <span class="help-block">Choose a talk from this group for PyCon. If none seem good enough, you may choose none;
                        if you think there are two excellent, non-overlapping options, you may choose two.</span>
                </div>
                </form>
            </div>
            {%endif%}
        {%endif%}
    
    {{br.batch_discussion(msgs, group.locked)}}

            {% if vote or group.locked %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Votes</h3>
                </div>
                <table class="table table-striped">
                    <tbody>
                        {% for v in all_votes %}
                        <tr>
                            <th>{{v.display_name}}</th>
                            <td>
                                {% for id in v.accept %}
                                <ul class="list-inline">
                                {% if id in proposal_map %}
                                <li>{{proposal_map[id].data.title}} (#{{id}})</li>
                                {% endif %}
                                </ul>
                                {% else %}
                                Don't advance any proposals.
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            {% endif %}

    </div><!--end side column-->
</div>
<script>
var TALKS = {{basics|tojson}};
var VOTE = {{vote|tojson}};
</script>
{%endblock body%}

{%block extrajs%}
<script>

function send_acceptance_change(ev){
    var $this = $(this),
        args = {'Declined': {'accepted':'false'}, 'Undecided':{},
            'Accepted': {'accepted':'true'}}[$this.val()];
    $.post('/admin/talk/'+$this.data().id+'/status/', args);
}
$(document).ready(function(){
    $('.acceptance').on('change', send_acceptance_change);
});
</script>
{%endblock%}
