{%extends "base.html"%}
{%block body %}
<h4>Batch Review Groups</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th data-column="batchgroup">Batch Group</th>
            <th data-column="id" class="warning">Id</th>
            <th data-column="title">Title</th>
            <th data-column="author_names">Author Names</th>
            <th data-column="progcom_member" data-reverse="1">Program Committee Member</th>
            <th data-column="accepted">Accepted</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
{%endblock body%}
{%block extrajs%}
<script type="underscore/template" id="table_row">
    <tr>
        <td><% if(e.batch_id){ %>
            <a href="/batch/<%=e.batch_id%>/"><%=e.batchgroup%></a>
            <% } %>
            </td>
        <td><%=e.id%></td>
        <td><a href="<%=e.id%>/"><%=e.title%></a></td>
        <td><%=e.author_names%></td>
        <td>
            <% if(e.progcom_member){ %>
                <span class="glyphicon glyphicon-asterisk"></span>
            <% } %>
        <td>
            <% if(e.accepted === null){ %>
                Undecided
            <% }else{ %>
                <%=e.accepted?"Accepted":"Declined"%>
            <% } %>
        </td>
    </tr>
</script>
<script type="text/javascript">
    var data = {{proposals|tojson}};
    $(document).ready(function(){
        table_sorter($('table'), data, TEMPLATES.table_row,
                {accepted: function(){
                    return function(e){
                    if(e.accepted === null){
                        return 0;
                    }
                    return e.accepted?-1:1;
                    }}});
    });
</script>
{%endblock%}
