{%extends "base.html"%}
{%block body %}
<ul class="nav nav-pills nav-stacked">
    <li><a href="{{url_for("list_batchgroups")}}">List Batch Groups</a></li>
    <li role="presentation"><a href="{{url_for("list_users")}}">List Users</a></li>
    <li role="presentation"><a href="{{url_for("list_standards")}}">Edit Standards</a></li>
    <li role="presentation"><a href="{{url_for("rough_scores")}}">Rough Scores</a></li>
    <li role="presentation"><a href="{{url_for("sample_grouping")}}">Rough Groups</a></li>
</ul>
{%endblock body%}
