{%extends "base.html"%}
{%block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Talk Count</th>
            <th>Skip Consensus</th>
            <th>Talk Consensuses</th>
            <th>Locked</th>
        </tr>
    </thead>
    <tbody>
        {% for g in groups %}
        <tr>
            <td>{{g.id}}</td>
            <td class="name" data-id="{{g.id}}">{{g.name}}</td>
            <td>{{g.talk_count}}</td>
            <td>{{g.skip_consensus}}</td>
            <td>{{g.talk_consensus|join(', ')}}</td>
            <td>{{g.locked}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="POST">
    <div class="form-group">
        <label for="text">Batch Group</label>
        <input type="text" class="form-control" id="text"
                                                placeholder="New Batch Group Name" name="name">
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{%endblock body%}
{%block extrajs %}

<script type="underscore/template" id="name_edit">
    <form method="POST" target="<%=id%>/">
        <input type="text" value="<%=val%>">
    </form>
</script>

<script type="text/javascript">
function change_name(){
    var $this = $(this);
    if ($this.find('input').length > 0){
        return;
    }
    var txt = $this.text();
    $this.html(TEMPLATES.name_edit({val:txt, id:$this.data().id}))
}

function rewrite_name(ev){
    ev.preventDefault();
    var $this = $(this),
        id = $this.parents('td').data().id,
        val = $this.find('input').val();
        $.post(id+'/', {name:val}, null, 'json').then(function(){
            $this.html(val);
        })
}

$(document).ready(function(){
        $('table').on('click', 'td.name', change_name);
        $('table').on('submit', 'form', rewrite_name);
});
</script>
{%endblock%}
