{%extends "base.html"%}
{%block body %}
<form method="POST" id="add-group">
    <div class="form-group">
        <label for="text">Batch Group</label>
        <input type="text" class="form-control" id="text"
                                                placeholder="New Batch Group Name" name="name">
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<button type="button" class="btn btn-default" id="get-groups">Get Groupings</button>

<table class="table table-striped table-compact">
    <thead>
        <tr><th data-column="rank">Rank</th>
            <th data-column="title">Proposal</th>
            <th data-column="batchgroup">Batch Group</th>
            <th data-column="auto_group">Auto Group</th>
            <th data-column="score" data-invert="1">Rough Score</th>
            <th data-column="nom_is_green" data-invert="1">Nomination
                                            Green Equivalent</th>
            <th data-column="greenness" data-invert="1">Green Percent</th>
            <th data-column="delta" data-invert="1">Score Delta</th>
            <th data-column="nominations" data-invert="1">Nominations</th>
        </tr></thead>
    <tbody id="table-body">
    </tbody>
</table>
<script type="underscore/template" id="table_row">
<tr <% if (nom_is_green >= 80 || greenness >= 70 || nominations >= 3){ %>
        class="success"
    <% } %> >
        <td><%=rank+1%></td>
        <td><a href="/screening/<%=id%>/"><%=title%></a></td>
        <td class="batchgroup" data-id="<%=id%>"><%=batchgroup%></td>
        <td><%=auto_group%></td>
        <td><%=score%></td>
        <td><%=nom_is_green%></td>
        <td><%=greenness%></td>
        <td><%=delta%></td>
        <td><%=nominations%></td>
    </tr>
</script>
{%endblock body%}
{%block extrajs %}
<script type="underscore/template" id="group_select">
<select>
    <option value="NONE"></option>
<% _.each(groups, function(g){ %>
    <option value="<%=g.id%>"
    <% if(g.name === active){ %>
        selected="selected"
    <% } %>
    ><%=g.name%></option>
<% }) %>
</select>
</script>
<script type="text/javascript">
var proposals = {{proposals|tojson}};

var groups = {{groups|tojson}};

function render_proposals(){
    var new_body = "";
    _.each(proposals, function(p){
        new_body += TEMPLATES.table_row(p);
    });
    $('#table-body').html(new_body);
}

function handle_click(ev){
    var $this = $(this);
    $this.siblings().removeClass('success');
    if($this.hasClass('success')){
        proposals = proposals.reverse();
    }else{
        var column = $this.data().column;
        var sort_func = function(x){
            var val = x[column];
            if(val){
                return val;
            }else{
                return 'ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ'
            }
        }
        proposals = _.sortBy(proposals, sort_func);
        if($this.data().invert){
            proposals = proposals.reverse();
        }
        $this.addClass('success');
    }
    render_proposals();
};

function handle_batch_click(ev){
    var $this = $(this);
    if($this.find('select').length > 0){
        return;
    }
    $this.html(TEMPLATES.group_select({groups:groups, active: $this.text()}))
}

function handle_batch_change(ev){
    var $this = $(this),
        gid = $this.val(),
        txt = $this.find('option:selected').text(),
        pid = $this.parent().data().id;
    var data = {pid:pid}
    if(gid !== 'NONE'){
        data.gid=gid;
    }
    $.post('/admin/assign/', data, null, 'json').then(
            function(){
                for(var i=0; i < proposals.length;++i){
                    if(proposals[i].id == pid){
                        proposals[i].batchgroup = txt;
                        break;
                    }
                }
                $this.parent('td').html(txt);
            },
            function(){
                alert('assignment failed');
            })
}

function add_group(ev){
    ev.preventDefault();
    var $input = $(this).find('input');
    $.post('{{url_for('add_batchgroup')}}', {'name':$input.val()},
            null, 'json').then(function(resp){
        $input.val('');
        groups = resp.groups;
    });
}

function get_groups(ev){
    $.getJSON('/admin/rough_scores/auto_grouping/').then(function(data){
        for(var i=0;i<proposals.length;++i){
            proposals[i].auto_group = data.data[proposals[i].id];
        }
        render_proposals();
    });
}

$(document).ready(function(){
        render_proposals();
        $('thead th').on('click', handle_click);
        $('tbody').on('click', '.batchgroup', handle_batch_click);
        $('tbody').on('change', '.batchgroup select', handle_batch_change);
        $('#add-group').on('submit', add_group);
        $('#get-groups').on('click', get_groups);
});

</script>
{% endblock %}
