{%extends "base.html"%}
{%block body %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Name</th>
            <th>Votes</th>
            <th>Proposals Made</th>
            <th>Last Vote</th>
            <th>Created On</th>
            <th>Approved</th>
        </tr>
    </thead>
    <tbody>
        {% for u in users %}
        <tr>
            <td>{{u.id}}</td>
            <td><a href="mailto:{{u.email}}">{{u.email}}</a></td>
            <td>{{u.display_name}}</td>
            <td>{{u.votes}}</td>
            <td>{{u.proposals_made}}</td>
            <td>{{u.last_voted|date}}</td>
            <td>{{u.created_on|date}}</td>
            <td>
                {% if u.approved_on %}
                {{u.approved_on|date}}
                {% else %}
                <form action="{{u.id}}/approve/" method="POST">
                    <input class="btn btn-default" type="submit" value="Approve">
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{%endblock body%}
