<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    </head>
    <body>

        <div class="container-fluid">
            <div class="col-md-6">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h3>Author Feedback</h3>
        <h4>You Are: {{name}}</h4>
        <h4>Proposal: {{proposal.title}} (#{{proposal.id}})</h4>
        <p>This page is for you to provide feedback to the PyCon program
            committee. We have some suggestions or questions, shown below.</p>

        <p>Please be aware that any 
        <a href="https://us.pycon.org/2016/proposals/{{proposal.id}}/"
            target="_blank">
            changes you make to your proposal</a>
        will take
        a few hours to propagate here, to our proposal review system.</p>

        <p>We frequently refer to the 
            <a href="https://us.pycon.org/2015/speaking/proposal_advice/samples/SpacePug/"
                target="_blank">SpacePug Sample Proposal</a>.
            In particular, we can't emphasize enough the importance of a detailed abstract and an outline with timings.
            Links to outside supporting material is fine, but your proposal shouldn't rely on these links!
            The more complete and self-contained your proposal is, the easier it is for us to evaluate it.</p>

        <table class="table table-striped">
            {% for m in messages %}
            {% if m.feedback %}
                <tr>
                    <th>{{m.display_name}}</th>
                    <td>{{m.created|date}}</td>
                    <td>{{m.body}}</td>
                </tr>
            {% endif %}
            {% if m.name %}
                <tr class="success">
                    <th>{{m.name}}</th>
                    <td>{{m.created|date}}</td>
                    <td>{{m.body}}</td>
                </tr>
            {% endif %}
            {% endfor %}
        </table>

        {% if config.CUTOFF_FEEDBACK %}
        <p>Unfortunately, the deadline for submissions has passed; replies to feedback are now disabled.</p>
        {% else %}
        <form method="POST">
            <div class="form-group">
            <textarea name="message" class="form-control" rows="3"></textarea>
            </div>
              <div class="form-group">
            <button type="submit" class="btn btn-default">Send</button>
              </div>

        </form>
        {% endif %}

        </div>
    </body>
</html>
