<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/underscore-1.8.3.min.js"></script>
        <script src="/static/js/bootstrap.3.3.5.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
