<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    PyCon Talk Review
                </a>
            </div>
            {% if not request.user %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for("login")}}">Log In</a></li>
                    <li><a href="{{url_for("new_user")}}">Create Account</a></li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for("show_votes")}}">Your Votes</a></li>
                    <li><a href="{{url_for("show_bookmarks")}}">Your Bookmarks</a></li>
                    <li><a href="{{url_for("logout")}}">Log Out</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
        </nav>

        <div class="container-fluid">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}
        {% endblock %}
        </div>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/underscore-1.8.3.min.js"></script>
        <script src="/static/js/bootstrap.3.3.5.min.js"></script>
        <script src="/static/js/app.js"></script>
    </body>
</html>
