<!DOCTYPE html>
<html>
    <head>
        <title>PyCon Program Committee Talk Proposal Review</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        {%block extracss%}{%endblock%}

        <link rel="apple-touch-icon" sizes="57x57" href="/static/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#b91d47">
        <meta name="msapplication-TileImage" content="/static/favicons/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">





    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    PyCon Talk Review
                </a>
            </div>
            {% if not request.user %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{url_for("login")}}">Log In</a></li>
                    <li><a href="{{url_for("new_user")}}">Create Account</a></li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if not config.THIS_IS_BATCH %}
                    <li><a href="{{url_for("show_votes")}}">Previous Votes</a></li>
                    <li><a href="{{url_for("screening_stats")}}">Stats</a></li>
                {% else %}
                    <li><a href="{{url_for("batch_splash_page")}}">Batch Groups</a></li>
                    <li><a href="{{url_for("my_nominations")}}">Your Nominations</a></li>
                    <li><a href="{{url_for("full_list")}}">Full Proposal List</a></li>
                {% endif %}
                    {% if request.user.email in config.ADMIN_EMAILS %}
                    <li><a href="{{url_for("admin.admin_menu")}}">Admin</a></li>
                    {% endif %}
                    {% if request.user.email in config.OBSERVER_EMAILS %}
                    <li><a href="{{url_for("view_schedule")}}">Schedule</a></li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="pull-right" href="{{url_for("reset_password")}}">Change Password</a></li>
                    <li><a class="pull-right" href="{{url_for("logout")}}">Log Out</a></li>
                </ul>

                <div class="btn-group pull-right" id="activity-buttons">
                    {% include "activity_button_fragment.html" %}
                </div>
            </div>
            {% endif %}
        </div>
        </nav>

        <div class="container-fluid">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{message}}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block body %}
        {% endblock %}
        </div>
        <script src="/static/js/jquery-2.1.4.min.js"></script>
        <script src="/static/js/underscore-1.8.3.min.js"></script>
        <script src="/static/js/bootstrap.3.3.5.min.js"></script>
        <script src="/static/js/app.js"></script>
        {% block extrajs %}
        {% endblock %}
    </body>
</html>
