{%extends "base.html"%}
{%import "proposal_render.html" as pr%}
{%block body %}
<h1>Group: {{group.name}}</h1>

<div class="row">
    <div class="col-md-8">
        <ul class="nav nav-tabs" id="proposal-tabs">
            {% for p in proposals %}
            <li> <a href="#proposal-{{p.proposal.id}}">{{p.proposal.title}}</a>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for p in proposals %}
            <div role="tabpanel" class="tab-pane" id="proposal-{{p.proposal.id}}">
                {{pr.proposal_render(p.proposal)}}
                <hr>
                <h2>Screening Discussion</h2>
                {% for msg in p.discussion%}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% if msg.name %}
                            {{msg.name}}
                            {% else %}
                            {{msg.display_name}}
                            {% endif %}
                        </div>
                        <div class="panel-body">
                            {{msg.body}}
                        </div>
                            {% if msg.name %}
                            <div class="panel-footer">
                            <strong> Message From Author</strong>
                            </div>
                            {% endif %}
                            {% if msg.feedback %}
                            <div class="panel-footer">
                                <strong>Message To Author</strong>
                            </div>
                            {% endif %}
                        </div>
                {% else %}
                    <p>No dicussion in Screening</p>
                {% endfor %}

            </div>
            {% endfor %}
        </div>

    </div>

    <script type="underscore/template" id="ordered_row">
        <li class="list-group-item"><%=title%>
            <input type="hidden" name="accept" value="<%=id%>"></li>
    </script>

    <div class="col-md-4">
            <form action="vote/" method="POST">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Talks to Accept</h3>
            </div>
            <ul class="list-group" id="accept">
                {% for v in vote.accept%}
                <li class="list-group-item">
                    {{proposal_map[v].title}}
                    <input type="hidden" name="accept" value="{{v}}">
                </li>
                {% endfor %}
            </ul>
            <div class="panel-footer">
                <button type="submit" class="btn btn-success btn-block" id="save">Save Choices</button>
                 <span class="help-block">Choose a talk from this group for PyCon; if none seem good enough, you may choose none.
                    If you think there are two good options, choose you may choose two.</span>
            </div>
        </div>
            </form>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Unranked</h3>
            </div>
            <ul class="list-group" id="unranked">
                {% for p in proposals%}
                <li data-id="{{p.proposal.id}}" 
                    class="list-group-item"
                    id="unranked-prop-{{p.proposal.id}}"
                    {%if vote and p.proposal.id in vote.accept%}
                    style="display:none;"
                    {%endif%}
                    >
                        {{p.proposal.title}}
                </li>
                {% endfor %}
            </ul>
        </div>

    </div><!--end side column-->
</div>

<script>
var TALKS = {{basics|tojson}};
var VOTE = {{vote|tojson}};
</script>

{%endblock body%}

