{%extends "base.html"%}
{%import "proposal_render.html" as pr%}
{%block body %}
<div class="row">
    <div class="col-md-8">
        {{ pr.proposal_render(proposal)}}
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Voting</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="vote/">
                <div class="radio vote-radio">
                    <label>
                        <input type="radio" name="vote" id="yea" value="yea" {%if existing_vote and existing_vote.yea %} checked="checked"{%endif%}>
                    <strong>Yea</strong> (I believe this talk meets minimal requirements for consideration as a talk at PyCon)
                    </label>
                </div>
                <div class="radio vote-radio">
                    <label>
                    <input type="radio" name="vote" id="plus-one" value="nay"{%if existing_vote and not existing_vote.yea %} checked="checked"{%endif%}>
                    <strong>Nay</strong> (I believe this talk doesn't meet the minimal threshold for consideration)
                    </label>
                </div>
                <div class="panel panel-default" {% if not existing_vote or existing_vote.yea%}style="display:none;"{%endif%} id="reasons-panel">
                      <div class="panel-body">

                    <div class="form-group">
                        <label for="reason">Vote Reason (<span id="character-count">63</span> characters left)</label>
                        <input type="text" class="form-control" id="reason" placeholder="Short Vote Reason" name="reason" {%if existing_vote and not existing_vote.yea%} value="{{existing_vote.reason}}"{%endif%}>
                        <p class="help-block">A simple reason isn't necessary, but it is encouraged!</p>
                    </div>
                    <select id="comment-reason">
                        <option disabled="disabled" selected="selected">Default Reasons for Negative Votes</option>
                        {% for r in reasons %}
                            <option>{{r}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
                <button type="submit" class="btn btn-default">Submit</button>
                </form>
        </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Votes</h3>
            </div>
                <table class="table table-condensed table-striped">
            {% for v in votes %}
                <tr>
                    <td>{%if v.yea%}Yea{%else%}Nay{%endif%}</td>
                    <td>{{v.display_name}}</td>
                    <td>{{v.reason}}</td>
                    <td>{{v.added_on|date}}</td>
                </tr>
            {% endfor %}
                </table>
        </div>

        <div class="panel panel-primary">
            <div class="panel-body">
                {% if bookmarked %}
                    <form method="POST" action="bookmark/remove/">
                        <button type="submit" class="btn btn-default">Remove Bookmark</button>
                    </form>
                {% else %}
                    <form method="POST" action="bookmark/add/">
                        <button type="submit" class="btn btn-default">Add Bookmark</button>
                    </form>
                {% endif%}
            </div>
        </div>

{% if unread %}
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Unread Discussion</h3>
            </div>
{% else %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Discussion</h3>
            </div>
{% endif %}
            <table class="table table-striped">
            {% for d in discussion %}
            <tr {%if d.feedback%}class="danger"{%endif%} 
                        {% if d.name%}class="success"{%endif%}>
                <td>{%if d.name%}{{d.name}}{%else%}{{d.display_name}}{%endif%}</td>
                <td>{{d.created|date}}</td>
                <td>{%if d.feedback%}<strong>To Author</strong>{%endif%}
                    {%if d.name%}<strong>From Author</strong>{%endif%}
                </td>
            </tr>
            <tr><td  style="padding-bottom:2em;" colspan="2">{{d.body}}</td></tr>
            {% endfor %}
            </table>
            <div class="panel-body">
                {% if unread %}
                <form method="POST" action="mark_read/">
                    <button type="submit" class="btn btn-danger">Mark Read</button>
                </form>
                {% endif %}
            </div>
            <div class="panel-body">
                <form method="POST" action="comment/">
                    <div class="form-group">
                        <label for="comment">Add Comment</label>
                        <textarea type="" class="form-control" id="comment" placeholder="Internal Comment" name="comment"></textarea>
                        <p class="help-block">Please be both kind and succinct with your comments.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>








        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Feedback</h3>
            </div>
            <div class="panel-body">
            <form method="POST" action="feedback/">
                <div class="form-group">
                    <label for="feedback">Give Author Direct Feedback</label>
                    <textarea type="" class="form-control" id="feedback" placeholder="Feedback to email author" name="feedback"></textarea>
                    <p class="help-block">Messages sent here are emailed directly to the proposal author!</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Overall Progress</div>
                <table class="table table-condensed table-hover">
                    <tr><th>Votes</th><th>Proposals</th></tr>
                    {% for p in progress%}
                    <tr><td>{{p.vote_count}}</td><td>{{p.quantity}}</td></tr>
                    {%endfor%}
                </table>
        </div>
    </div>
</div>
{%endblock body%}
