{%extends "base.html"%}
{%block body %}
<div class="row">
    <div class="col-md-8">
        <h1>{{proposal.title}}</h1>
        <h4>Category: {{proposal.category}}</h4>
        <h4>Duration: {{proposal.duration}}</h4>
        <h4>Python Level: {{proposal.python_level}}</h4>
        <h4>Proposed By: {{proposal.submitter_name}}</h4>
        <h4>Last Updated: {{proposal.updated_on|date}}</h4>
        <h4>Created: {{proposal.created_on|date}}</h4>
        <h3>Audience</h3>
        <p>
        {{proposal.audience}}
        </p>
        <h3>Description</h3>
        <p>
        {{proposal.description}}
        </p>
        <h3>Objectives</h3>
        <p>
        {{proposal.objectives}}
        </p>
        <h3>Detailed Abstract</h3>
        <p>
        {{proposal.abstract}}
        </p>
        <h3>Outline</h3>
        <p>
        {{proposal.outline}}
        </p>
        <h3>Additional Notes</h3>
        <p>
        {{proposal.additional_notes}}
        </p>
        <h3>Additional Requirements</h3>
        <p>
        {{proposal.additional_requirements}}
        </p>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Voting</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="vote/">


                <div class="radio">
                    <label>
                    <input type="radio" name="vote" id="plus-one" value="+1">
                    +1 (I am in favor of this proposal and would argue strongly for its inclusion)
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="vote" id="plus-one" value="+0">
                    +0 (I don't have any issues with this proposal being included)
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="vote" id="plus-one" value="-0">
                    -0 (I don't think this proposal should be included, but would not argue my point strongly)
                    </label>
                </div>
                <div class="radio">
                    <label>
                    <input type="radio" name="vote" id="plus-one" value="-1">
                    -1 (I don't think this proposal belongs at PyCon, and would argue that position strongly)
                    </label>
                </div>
                <select id="comment-reason">
                    <option disabled="disabled" selected="selected">Default Reasons for Negative Votes</option>
                    {% for r in reasons %}
                        <option>{{r}}</option>
                    {% endfor %}
                </select>
                </section>
                    <div class="form-group">
                        <label for="reason">Vote Reason</label>
                        <input type="text" class="form-control" id="reason" placeholder="Short Vote Reason" name="reason">
                        <p class="help-block">Characters left <span id="character-count">63</span>.
                            A simple reason isn't necessary, but it is encouraged!</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
        </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Votes</h3>
            </div>
            <div class="panel-body">
                <table class="table table-condensed table-striped">
            {% for v in votes %}
                <tr>
                    <td>{%if v.sign == 1%}+{%else%}-{%endif%}{{v.magnitude}}</td>
                    <td>{{v.voter.display_name}}</td>
                    <td>{{v.reason}}</td>
                    <td>{{v.added_on|date}}</td>
                </tr>
            {% endfor %}
                </table>
            </div>
        </div>


        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Discussion</h3>
            </div>
            <div class="panel-body">
            {% for d in discussion %}
            {% if d.feedback %}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h4>Sent To Proposer</h4>
                    <p>{{d.frm.display_name}} @{{d.created|date}}</p>
                </div>
            {% else %}
                {% if d.frm %}
                <div class="panel panel-warning">
                    <div class="panel-heading">{{d.frm.display_name}} @{{d.created|date}}</div>
                {%else%}
                <div class="panel panel-success">
                    <div class="panel-heading">
                    <h4>Message From Proposer</h4>
                    {{d.frm.display_name}} @{{d.created|date}}
                    </div>
                {%endif%}
            {% endif %}
            <div class="panel-body">
<pre>
{{d.body}}
</pre>
            </div>
            </div>
            {% endfor %}
            <div class="">
                <form method="POST" action="comment/">
                    <div class="form-group">
                        <label for="comment">Add Comment</label>
                        <textarea type="" class="form-control" id="comment" placeholder="Internal Comment" name="comment"></textarea>
                        <p class="help-block">Please be kind and succinct in your comments.</p>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
        </div>








        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Feedback</h3>
            </div>
            <div class="panel-body">
            <form method="POST" action="feedback/">
                <div class="form-group">
                    <label for="feedback">Give Author Direct Feedback</label>
                    <textarea type="" class="form-control" id="feedback" placeholder="Feedback to email author" name="feedback"></textarea>
                    <p class="help-block">Messages sent here are emailed directly to the proposal author!</p>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            </div>
            </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <table class="table table-condensed table-hover">
                    <tr><th>Votes</th><th>Proposals</th></tr>
                    {% for p in progress%}
                    <tr><td>{{p.vote_count}}</td><td>{{p.quantity}}</td></tr>
                    {%endfor%}
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock body%}
