{%import "vote_display.html" as vd%}

{%macro proposal_render(proposal, anonymize=False, 
                        hidetimes=False) %}

      {% if not hidetimes %}
  <ul class="nav nav-tabs" role="tablist">
      {%for version in proposal.data_history%}
      <li class="{%if loop.first%} active{%endif%}"><a class="tab-button" href="#rev-{{loop.index0}}">{{version.when|date}}</a></li>
      {%endfor%}
  </ul>
    {% endif %}

  <div class="tab-content">
    {% for version in proposal.data_history%}
    <div class="tab-pane{%if loop.first%} active{%endif%}" id="rev-{{loop.index0}}">
        <h1>{{version.title}}</h1>
        <table class="table">
          <tbody>
              <tr><th>Duration</th>
              <td>{{version.duration}}</td></tr>
              {% if not anonymize %}
                  <tr><th>Proposer(s)</th>
                  <td>{{proposal.authors|map(attribute='name')|join(", ")}}</td></tr>
              {% endif %}
              <tr><th># Speakers</th>
              <td>{{proposal.authors|length}}</td></tr>
              {% if not hidetimes%}
              <tr><th>Created</th>
              <td>{{proposal.added_on|date}}</td></tr>
              <tr><th>Last Updated</th>
              <td>{{version.when|date}}</td></tr>
              {%endif%}
          </tbody>
        </table>
        <h3>Description</h3>
        <p>
        {{version.description|markdown}}
        </p>
        <h3>Audience</h3>
        <p>
        {{version.audience}}
        </p>
        <h3>Outline</h3>
        <p>
        <pre style="white-space:pre-wrap;border:0;background:none;">
        {{version.outline}}
        </pre>
        </p>
        {% if not anonymize %}
        <h3>Additional Notes</h3>
        <p>
        {{version.notes|markdown}}
        </p>
        {% endif %}
    </div>
{%endfor%}
  </div>
{%endmacro%}

{%macro user_vote_render(standards, existing_vote)%}
        <div class="panel panel-primary" id="user-vote-block">
            <div class="panel-heading"
            data-content="These votes were loaded from your local browser cache, and are not yet saved." id="vote-panel">
                <h3 class="panel-title">This Proposal...</h3>
            </div>
            <form method="POST" action="vote/" id="vote-form">
                  <table class="table">
                {% for s in standards %}
                <tr>
                    <td>
                        <div class="btn-group btn-group-xs voting-stripe" style="min-width:75px;">
                            <button type="button" id="standard-id-{{s.id}}-2"
                            class="btn
                            {% if existing_vote
                                    and existing_vote.scores[s.id] == 2 %}
                            btn-success
                            {%else %}
                            btn-default
                            {%endif%}

                                " data-val="2"><span class="glyphicon glyphicon-ok" title="Meets Standard"></span></button>
                            <button type="button"id="standard-id-{{s.id}}-1" 
                            class="btn
                            {% if existing_vote
                                    and existing_vote.scores[s.id] == 1 %}
                            btn-warning
                            {%else %}
                            btn-default
                            {%endif%}
                                " data-val="1"><span class="glyphicon glyphicon-warning-sign" title="Concern it Might Not Meet Standard"></span></button>
                            <button type="button" id="standard-id-{{s.id}}-0"
                            class="btn
                            {% if existing_vote
                                    and existing_vote.scores[s.id] == 0 %}
                            btn-danger
                            {%else %}
                            btn-default
                            {%endif%}
                                " data-val="0"><span class="glyphicon glyphicon-remove" title="Does Not Meet Standard"></span></button>
                            <input name="standard-{{s.id}}"
                                {%if existing_vote and existing_vote.scores %}
                                   value="{{existing_vote.scores[s.id]}}"
                                {% else %}
                                   value="-1"
                                {% endif %}
                            type="hidden">
                        </div>
                    </td>
                    <td><small>{{s.description}}.</small></td>
                </tr>
                {% endfor %}
                </table>
                <div class="panel-body">
                    {% if existing_vote and existing_vote.nominate %}
                    <button type="button" class="btn btn-block btn-success" id="nominate"><span class="glyphicon glyphicon-star"></span> Nominated for Special Consideration</button>
                    <input name="nominate" value="1" type="hidden">
                    {% else %}
                    <button type="button" class="btn btn-block btn-default" id="nominate">Nominate for Special Consideration</button>
                    <input name="nominate" value="0" type="hidden">
                    {% endif %}
                    <p class="help-block">
                    If you feel this talk didn't meet the objective standards but would
                    still be a strong addition to PyCon, you can nominate it for special
                    consideration.
                    </p>
                </div>
                <div class="panel-footer">
                    {% if existing_vote %}
                    <a href="/" class="btn btn-default btn-lg">Next Proposal &raquo;</a>
                    {% endif %}
                    <button type="Submit" class="btn btn-primary pull-right" id="save"
                        {% if not existing_vote %}
                            disabled="disabled"
                        {% endif %}
                        >Save Vote</button>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
{%endmacro%}

{%macro existing_vote_render(votes, standards) %}
<div class="panel panel-default" id="existing-votes-block">
    <div class="panel-heading">
        <h3 class="panel-title">Votes</h3>
    </div>
    <table class="table">
        <thead>
            <tr><th></th>
                {% for s in standards %}
                <th>{{s.id}}</th>
                {% endfor %}
                <th>N</th>
            </tr>
        </thead>
        <tbody>
            {% for v in votes %}
            <tr><td>{{v.display_name}}</td>
                {% for s in standards %}
                    <td>{{vd.vote_display(v.scores[s.id])}}</td>
                {% endfor %}
                <td>{% if v.nominate %}
                    <span class="glyphicon glyphicon-star"></span>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%endmacro%}

{%macro discussion_render(unread, discussion) %}
<div class="panel panel-default" id="discussion-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Discussion</h3>
    </div>
    <ul class="list-group">
    {% for d in discussion %}
        <li class="list-group-item
                    {% if d.feedback %}list-group-item-danger
                    {% elif d.name %}list-group-item-success
                    {%else%}disabled{%endif%}" style="display:flex;justify-content:space-between">
            <div>
            {%if d.name%}Proposal Author{%else%}<strong>{{d.display_name}}</strong>{%endif%}
            {%if d.feedback%}<br><strong>To Author</strong>{%endif%}
            </div>
            <span style="order:1">{{d.created|date}}</span>
            {%if d.name%}<strong>From Author</strong>{%endif%}
        </li>
        <li class="list-group-item" style="overflow-wrap: break-word;word-wrap: break-word;">
            {{d.body}}
        </li>
    {% endfor %}
    </ul>
    
    {% if unread %}
    <div class="panel-body">

        <form action="mark_read/next/" method="POST">
        <div class="btn-group" role="group">
        <button id="mark-read" type="button" class="btn btn-danger">Mark Read</button>
            <input type="submit" class="btn btn-danger" value="Mark Read, Next Unread">
        </div>
        </form>
    </div>
    {% endif %}
    <div class="panel-body">
        <form method="POST" action="comment/" id="comment-form">
            <div class="form-group">
                <label for="comment">Add Comment</label>
                <textarea type="" class="form-control" id="comment" placeholder="Internal Comment" name="comment"></textarea>
                <p class="help-block">Please be both kind and succinct with your comments.</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endmacro %}
