{%macro proposal_render(proposal, bookmarked=False, anonymize=False) %}
        <h1>{{proposal.title}}</h1>
        <table class="table">
          <tbody>
              <tr><th>Category</th>
              <td>{{proposal.category}}</td></tr>
              <tr><th>Duration</th>
              <td>{{proposal.duration}}</td></tr>
              <tr><th>Audience Level</th>
              <td>{{proposal.audience_level}}</td></tr>
              {% if not anonymize %}
                  <tr><th>Proposer(s)</th>
                  <td>{{proposal.authors|map(attribute='name')|join(", ")}}</td></tr>
              {% endif %}
              <tr><th># Speakers</th>
              <td>{{proposal.authors|length}}</td></tr>
              <tr><th>Created</th>
              <td>{{proposal.added_on|date}}</td></tr>
              <tr><th>Last Updated</th>
              <td>{{proposal.updated|date}}</td></tr>
          </tbody>
        </table>
        {% if bookmarked %}
            <form method="POST" action="bookmark/remove/">
                <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-bookmark"></span> Proposal Bookmarked</button>
            </form>
        {% else %}
            <form method="POST" action="bookmark/add/">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-bookmark"></span> Bookmark</button>
            </form>
        {% endif%}

        <h3>Audience</h3>
        <p>
        {{proposal.audience}}
        </p>
        <h3>Description</h3>
        <p>
        {{proposal.description|markdown}}
        </p>
        <h3>Objective</h3>
        <p>
        {{proposal.objective|markdown}}
        </p>
        <h3>Detailed Abstract</h3>
        <p>
        {{proposal.abstract|markdown}}
        </p>
        <h3>Outline</h3>
        <p>
        {{proposal.outline|markdown}}
        </p>
        {% if not anonymize %}
        <h3>Additional Notes</h3>
        <p>
        {{proposal.notes|markdown}}
        </p>
        {% endif %}
        <h3>Additional Requirements</h3>
        <p>
        {{proposal.additional_requirements|markdown}}
        </p>
{%endmacro%}
