{%extends "base.html"%}
{%block body %}
<table class="table table-striped table-compact">
    <thead><tr><th>Rank</th><th>Proposal</th><th>Rough Score</th><th>Nominations</th></tr></thead>
    <tbody>
        {% for p in proposals %}
        <tr>
            <td>{{loop.index}}</td>
            <td><a href="{{url_for("screening", id=p['id'])}}">{{p.title}}</a></td>
            <td>{{p.score}}</td>
            <td>{{p.nominations}}</td></tr>
        {% endfor %}
    </tbody>
</table>
{%endblock body%}
