{%extends "base.html"%}
{%block body %}

<form class="form-horizontal">
    <div class="form-group">
        <label for="min_normed_score" class="col-sm-3">Minimum Normed Score</label>
        <div class="col-sm-2">
            <input class="form-control" name="min_normed_score" value="{{min_normed_score}}">
        </div>
    </div>
    <div class="form-group">
        <label for="min_nominations" class="col-sm-3">Minimum Nominations</label>
        <div class="col-sm-2">
            <input class="form-control" name="min_nominations" value="{{min_nominations}}">
        </div>
    </div>
    <div class="form-group">
        <label for="group_size" class="col-sm-3">Number of Topics</label>
        <div class="col-sm-2">
            <input class="form-control" name="group_size" value="{{group_size}}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>

{%for group in groups %}
<hr>
<h4>{{group.topic}}</h4>
<table class="table table-striped table-compact">
    <thead>
        <tr><th></th><th>Nominated Score</th><th>Nominations</th><th>Raw Score</th><th>Raw Rank</th></tr>
    </thead>
    <tbody>
    {% for proposal in group.talks %}
    {% with score = scored_proposals[proposal.id] %}
    <tr
    {% if score.nom_is_green > min_normed_score or score.nominations > min_nominations %}
    class="success"
    {% endif %}
    >
    <td>
    <a href="/screening/{{proposal.id}}/">{{proposal.title}}</a>
</td>
<td>{{score.nom_is_green}}</td>
<td>{{score.nominations}}</td>
<td>{{score.score}}</td>
<td>{{score.rank}}</td>
</td>
</tr>
    {% endwith %}
    {% endfor %}
</tbody>
</table>
{%endfor %}

{%endblock body%}
