{%extends "base.html"%}
{%import "proposal_render.html" as pr%}
{%import "progress_render.html" as prog%}
{%block body %}
<div class="row">
    <div class="col-md-12">
        {{ prog.progress_render(percent)}}
    </div>
</div>
<div class="row">
    <div class="col-md-8" id="left-column">
        {{ pr.proposal_render(proposal, bookmarked, anonymize=True)}}
    </div>
    <div class="col-md-4" id="right-column">
        {{ pr.user_vote_render(standards, existing_vote) }}

        {% if existing_vote %}
        {{pr.existing_vote_render(votes, standards)}}
        {% endif %}

        <div class="alert alert-warning">
            <p>Out of respect for potential speakers and your fellow committee
            members, please treat all of this information as confidential.
            The contents of proposals, votes, and discussions should not be
            shared outside the program committee.</p>
        </div>

        <!-- Macro here -->

        {{pr.discussion_render(unread, discussion)}}

        <div class="panel panel-default" id="feedback">
            <div class="panel-heading">
                <h3 class="panel-title">Feedback</h3>
            </div>
            <div class="panel-body">
                <form method="POST" action="feedback/" id="feedback-form">
                    <div class="form-group">
                        <label for="feedback">Give Author Direct Feedback</label>
                        <textarea type="" class="form-control" id="feedback" placeholder="Feedback to email author" name="feedback"></textarea>
                        <div class="alert alert-warning">Messages sent here are emailed directly to the proposal author!</div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Program Committee Progress</div>
            <table class="table table-condensed table-hover">
                <tr><th>Votes</th><th>Proposals</th></tr>
                {% for p in progress|sort(attribute='vote_count')%}
                <tr><td>{{p.vote_count}}</td><td>{{p.quantity}}</td></tr>
                {%endfor%}
            </table>
        </div>


    </div>
</div>
{%endblock body%}
