{%extends "base.html"%}
{%block body %}
<table class="table table-hover table-bordered">
    {% for g in groups %}
    <tr
    {%if g.voted%}
       class="success"
    {%else%}
       class="danger"
    {%endif%}
       >
        <td>
            <a href="{{url_for("thunder_view", id=g.id)}}">{{g.name}}</a>
        </td>
        <td>
            {% if g.voted %}
                You have voted on this group.
            {% else %}
                You have not voted on this group.
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{%endblock body%}
